
    <div class="card my-5">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="card my-5">
                      <div class="card-header">
                          <h4>Users
                          </h4>
                      </div>
                      <div class="card-body">
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <th>User Name</th>
                                      <th>User Email</th>
                                      <th>Role</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <ng-container *ngFor="let item of UsersList">
                                      <tr>
                                          <td>{{item.name }}</td>
                                          <td>{{item.email}}</td>
                                          <td>{{item.role}}</td>
                                          <td>
                                            <a class="btn btn-primary" [routerLink]="['/view-user',item.id]" >View </a>
                                          </td>
                                      </tr>
                                    </ng-container>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
