<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <!-- Collapsed content -->
        <ul id="collapseExample1" class="collapse show list-group list-group-flush">
          <li class="list-group-item py-1">
            <a routerLink="/categories" class="text-reset">Categories</a>
          </li>
          <li class="list-group-item py-1">
            <a routerLink="/add-category" class="text-reset">Add Category</a>
          </li>
          <li class="list-group-item py-1">
            <a routerLink="/products" class="text-reset">Products</a>
          </li>
          <li class="list-group-item py-1">
            <a routerLink="/add-product" class="text-reset">Add Product</a>
          </li>
          <li class="list-group-item py-1">
            <a routerLink="/orders" class="text-reset">Pending Orders</a>
          </li>
          <li class="list-group-item py-1">
            <a routerLink="/users" class="text-reset">Users</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

</header>

