<!-- <button class="btn-btn success m-2"  (click)="addProduct()">Add Product</button> -->

<h1> Add Category</h1>

<form #catForm="ngForm" (ngSubmit)="addCategory()" method="POST">
  <div class="mb-3">
    <label for="catName" class="form-label">Name</label>
    <input type="text" [(ngModel)]="newCat.name"
      class="form-control" name="catName" id="catName" required
      #catName="ngModel">
      <div [hidden]="catName.valid || catName.untouched" class="alert alert-white text-danger" >
        Name is Required
      </div>
  </div>

  <div class="mb-3">
    <label for="catSlug" class="form-label">Slug</label>
    <input type="text" [(ngModel)]="newCat.slug"
      class="form-control" name="catSlug" id="catSlug" required
      #catSlug="ngModel">
      <div [hidden]="catSlug.valid||catSlug.untouched" class="alert alert-white text-danger">
        Slug is Required
      </div>
  </div>

  <div class="mb-3">
    <label for="catDescription" class="form-label">Description</label>
    <textarea name="catDescription" class="form-control" [(ngModel)]="newCat.description"
    id=""  required #catDescription="ngModel"></textarea>
      <div [hidden]="catDescription.valid||catDescription.untouched" class="alert alert-white text-danger">
        Description is Required
      </div>
  </div>

  <div class="form-control">
    <input type="file" (change)="onSelectedFile($event)">
  </div>
<br>
  <button [disabled]="catForm.invalid" type="submit" class="btn btn-success">Submit</button>

</form>

